In [1]:
import pandas as pd
import numpy as np

In [2]:
AD_panda = pd.read_csv('../../Data/GRN_output/AD/output_panda_df.csv')

In [3]:
AD_panda_top_5 = AD_panda[AD_panda.force>=3.82111]
AD_panda_top_5

                     tf             gene  motif      force
0       ENSG00000153879  ENSG00000153132    1.0  29.401874
1       ENSG00000221869  ENSG00000153132    1.0  29.280419
2       ENSG00000153879  ENSG00000130770    1.0  29.234309
3       ENSG00000153879  ENSG00000083307    1.0  29.130140
4       ENSG00000221869  ENSG00000130770    1.0  29.105434
...                 ...              ...    ...        ...
609637  ENSG00000185947  ENSG00000106462    1.0   3.821121
609638  ENSG00000162702  ENSG00000248489    1.0   3.821120
609639  ENSG00000181666  ENSG00000240370    1.0   3.821120
609640  ENSG00000181666  ENSG00000132793    1.0   3.821116
609641  ENSG00000119138  ENSG00000131435    1.0   3.821116

[609642 rows x 4 columns]

In [4]:
NCI_panda = pd.read_csv('../../Data/GRN_output/NCI//output_panda_df.csv')

In [5]:
NCI_panda_top_5 = NCI_panda[NCI_panda.force>=3.79899]
NCI_panda_top_5

                     tf             gene  motif      force
0       ENSG00000153879  ENSG00000153132    1.0  29.413633
1       ENSG00000221869  ENSG00000153132    1.0  29.293011
2       ENSG00000153879  ENSG00000130770    1.0  29.262514
3       ENSG00000153879  ENSG00000083307    1.0  29.144643
4       ENSG00000221869  ENSG00000130770    1.0  29.133114
...                 ...              ...    ...        ...
609638  ENSG00000185129  ENSG00000073712    1.0   3.799004
609639  ENSG00000180479  ENSG00000107897    1.0   3.799001
609640  ENSG00000197020  ENSG00000165716    1.0   3.799000
609641  ENSG00000186020  ENSG00000154511    1.0   3.798996
609642  ENSG00000006194  ENSG00000265972    1.0   3.798995

[609643 rows x 4 columns]

In [6]:
merge_df = pd.merge(AD_panda_top_5, NCI_panda_top_5, on=['tf','gene'])

In [7]:
merge_df['force_change_diff'] = (np.abs(merge_df['force_x']-merge_df['force_y']))/np.abs(merge_df['force_x'])

In [8]:
merge_df.sort_values(by = 'force_change_diff', ascending=False)

,tf,gene,motif_x,force_x,motif_y,force_y,force_change_diff
445040,ENSG00000167637,ENSG00000175792,1.0,4.233951,1.0,6.362948,5.028394e-01
433877,ENSG00000162714,ENSG00000100353,1.0,4.263483,1.0,6.378068,4.959760e-01
432855,ENSG00000180855,ENSG00000100353,1.0,4.266221,1.0,6.380022,4.954737e-01
534926,ENSG00000197961,ENSG00000100353,1.0,3.993997,1.0,5.847595,4.640961e-01
484720,ENSG00000167637,ENSG00000089050,1.0,4.130754,1.0,5.981998,4.481614e-01
...,...,...,...,...,...,...,...
276902,ENSG00000010539,ENSG00000100147,1.0,4.814486,1.0,4.814489,4.525899e-07
545266,ENSG00000131845,ENSG00000164024,1.0,3.963018,1.0,3.963016,4.082478e-07
42504,ENSG00000152443,ENSG00000187824,1.0,8.139924,1.0,8.139927,2.892695e-07
35955,ENSG00000170631,ENSG00000112706,1.0,8.447916,1.0,8.447914,2.030886e-07
335480,ENSG00000186020,ENSG00000187498,1.0,4.563649,1.0,4.563649,3.784822e-08

In [9]:
'''
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
from tqdm import tqdm


# Create a weighted bipartite graph
differential_bipartite = nx.Graph()
differential_bipartite.add_nodes_from(merge_df['tf'], bipartite = 0)
differential_bipartite.add_nodes_from(merge_df['gene'], bipartite = 1)
# Add weighted edges
edges = [(row['tf'], row['gene'], {'weight': row['force_change_diff']}) for idx, row in tqdm(merge_df.iterrows())]
differential_bipartite.add_edges_from(edges)
'''
# Sample DataFrame

"\nimport pandas as pd\nimport networkx as nx\nimport matplotlib.pyplot as plt\nfrom tqdm import tqdm\n\n\n# Create a weighted bipartite graph\ndifferential_bipartite = nx.Graph()\ndifferential_bipartite.add_nodes_from(merge_df['tf'], bipartite = 0)\ndifferential_bipartite.add_nodes_from(merge_df['gene'], bipartite = 1)\n# Add weighted edges\nedges = [(row['tf'], row['gene'], {'weight': row['force_change_diff']}) for idx, row in tqdm(merge_df.iterrows())]\ndifferential_bipartite.add_edges_from(edges)\n"

In [10]:


from netZooPy import condor

In [11]:
differential_df = merge_df[['tf','gene','force_change_diff']]

In [12]:
list_of_tf = list(set(differential_df.tf))
differential_df = differential_df[~differential_df.gene.isin(list_of_tf)]

In [13]:
differential_df.rename(columns={'tf':'pollinator','gene':'plant','force_change_diff':'interactions'})

             pollinator            plant  interactions
0       ENSG00000153879  ENSG00000153132      0.000400
1       ENSG00000221869  ENSG00000153132      0.000430
2       ENSG00000153879  ENSG00000130770      0.000965
4       ENSG00000221869  ENSG00000130770      0.000951
6       ENSG00000153879  ENSG00000196951      0.000967
...                 ...              ...           ...
580922  ENSG00000105866  ENSG00000010244      0.109100
580923  ENSG00000127528  ENSG00000143761      0.021983
580924  ENSG00000129911  ENSG00000109065      0.098588
580925  ENSG00000197933  ENSG00000234456      0.050816
580926  ENSG00000119138  ENSG00000131435      0.001270

[555649 rows x 3 columns]

In [19]:
condor_object = condor.condor_object(dataframe=differential_df)

Object creation:
hello
                         V1                   V2    weight
0       reg_ENSG00000153879  tar_ENSG00000153132  0.000400
1       reg_ENSG00000221869  tar_ENSG00000153132  0.000430
2       reg_ENSG00000153879  tar_ENSG00000130770  0.000965
4       reg_ENSG00000221869  tar_ENSG00000130770  0.000951
6       reg_ENSG00000153879  tar_ENSG00000196951  0.000967
...                     ...                  ...       ...
580922  reg_ENSG00000105866  tar_ENSG00000010244  0.109100
580923  reg_ENSG00000127528  tar_ENSG00000143761  0.021983
580924  reg_ENSG00000129911  tar_ENSG00000109065  0.098588
580925  reg_ENSG00000197933  tar_ENSG00000234456  0.050816
580926  reg_ENSG00000119138  tar_ENSG00000131435  0.001270

[555649 rows x 3 columns]
  Elapsed time: 0.46 sec.

In [20]:
condor_object.initial_community()

Initial community structure without projection:
Initial modularity:  0.292030312509701
  Elapsed time: 0.91 sec.

In [21]:
condor_object.brim(deltaQmin="def")

Matrix computation:

/Users/anwer/Desktop/Gene_Regulatory_Network_ROSMAP/code/New_GRN/code/GRN_analysis/netZooPy/condor/condor.py:308: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  A[gn[edge[1][1]], rg[edge[1][0]]] = edge[1][2]

  Elapsed time: 10.73 sec.
BRIM:
0.29597077185186454
0.2959882123897619
0.29598923368938945
  Elapsed time: 0.21 sec.

In [22]:
condor_object.reg_memb.head(5)

                   reg  community
0  reg_ENSG00000001167          0
1  reg_ENSG00000004848          3
2  reg_ENSG00000005513          3
3  reg_ENSG00000005889          2
4  reg_ENSG00000006047          0

In [23]:
condor_object.tar_memb.head(5)

                   tar  community
0  tar_ENSG00000000003          1
1  tar_ENSG00000000419          2
2  tar_ENSG00000000457          0
3  tar_ENSG00000000460          1
4  tar_ENSG00000000938          3

In [79]:
def fun(s):
    return s.split('_')[1]

x = condor_object.tar_memb.tar.apply(fun)
condor_object.tar_memb.tar = x

In [33]:
condor_object.tar_memb.head()

               tar  community
0  ENSG00000000003          1
1  ENSG00000000419          2
2  ENSG00000000457          0
3  ENSG00000000460          1
4  ENSG00000000938          3

In [39]:
x = condor_object.reg_memb.reg.apply(fun)
condor_object.reg_memb.reg = x
condor_object.reg_memb.head()

               reg  community
0  ENSG00000001167          0
1  ENSG00000004848          3
2  ENSG00000005513          3
3  ENSG00000005889          2
4  ENSG00000006047          0

In [43]:
m = []
for i in differential_df.tf:
    m.append(condor_object.reg_memb[condor_object.reg_memb.reg==i]['community'])

In [44]:
differential_df['tf_cluster_no'] = m

In [45]:
m = []
for i in differential_df.gene:
    m.append(condor_object.tar_memb[condor_object.tar_memb.tar==i]['community'])

In [46]:
differential_df['gene_cluster_no'] = m

In [50]:
differential_df['tf_cluster_no'] = differential_df['tf_cluster_no'].astype(int)

/var/folders/ld/fhtyx4qs4mg6bw9chm___tsh0000gn/T/ipykernel_24025/908196840.py:1: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  differential_df['tf_cluster_no'] = differential_df['tf_cluster_no'].astype(int)

In [49]:
differential_df['gene_cluster_no'] = differential_df['gene_cluster_no'].astype(int)

/var/folders/ld/fhtyx4qs4mg6bw9chm___tsh0000gn/T/ipykernel_24025/2838736527.py:1: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  differential_df['gene_cluster_no'] = differential_df['gene_cluster_no'].astype(int)

In [51]:
differential_df

,tf,gene,force_change_diff,tf_cluster_no,gene_cluster_no
0,ENSG00000153879,ENSG00000153132,0.000400,0,1
1,ENSG00000221869,ENSG00000153132,0.000430,0,1
2,ENSG00000153879,ENSG00000130770,0.000965,0,3
4,ENSG00000221869,ENSG00000130770,0.000951,0,3
6,ENSG00000153879,ENSG00000196951,0.000967,0,0
...,...,...,...,...,...
580922,ENSG00000105866,ENSG00000010244,0.109100,2,2
580923,ENSG00000127528,ENSG00000143761,0.021983,2,1
580924,ENSG00000129911,ENSG00000109065,0.098588,2,2
580925,ENSG00000197933,ENSG00000234456,0.050816,0,0
580926,ENSG00000119138,ENSG00000131435,0.001270,2,0

In [52]:
set(differential_df.tf_cluster_no)

{0, 1, 2, 3}

In [53]:
set(differential_df.gene_cluster_no)

{0, 1, 2, 3}

In [98]:
differential_df.sort_values(by= ['force_change_diff'], ascending = False)

,tf,gene,force_change_diff,tf_cluster_no,gene_cluster_no
445040,ENSG00000167637,ENSG00000175792,5.028394e-01,2,0
433877,ENSG00000162714,ENSG00000100353,4.959760e-01,3,3
432855,ENSG00000180855,ENSG00000100353,4.954737e-01,3,3
534926,ENSG00000197961,ENSG00000100353,4.640961e-01,3,3
484720,ENSG00000167637,ENSG00000089050,4.481614e-01,2,2
...,...,...,...,...,...
276902,ENSG00000010539,ENSG00000100147,4.525899e-07,0,1
545266,ENSG00000131845,ENSG00000164024,4.082478e-07,1,1
42504,ENSG00000152443,ENSG00000187824,2.892695e-07,0,3
35955,ENSG00000170631,ENSG00000112706,2.030886e-07,0,0
335480,ENSG00000186020,ENSG00000187498,3.784822e-08,1,0